name: CI AND IT
on:
  push:
    tags:
      - v*
    branches:
      - develop
      - master
      - release/*
  pull_request:
jobs:
#  CI:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up Go
#        uses: actions/setup-go@v3
#        with:
#          go-version: 1.22
#      - name: Run Lint
#        uses: golangci/golangci-lint-action@v3
  CODE-CHECK:
    runs-on: ubuntu-latest
    container:
      image: registry.erda.cloud/erda/ebpf-devel:v0.3
    steps:
      - uses: actions/checkout@v2
      - name: Run go mod tidy
        run: go mod tidy
      - name: Run Build
        run: |
          make build-ebpf-local
          make build-ebpf-agent
      # - name: Run Go Vet
      #   run: go vet ./...
